:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --tertiary-color: #FFFFFF;
    --background-color-primary: #E5E5E5;
    --background-color-secondary: #F5F4FA;
    --background-color-footer: #2F303A;
    --accent-color: #2196F3;
}

* {
    color: var(--primary-color);
    font-family: "Roboto", "Sans serif";
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

a:hover,
a:focus {
    color: var(--accent-color);
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logopart-black {
    font-family: 'Raleway';
    color: var(--primary-color);
}

.logopart-white {
    font-family: 'Raleway';
    color: var(--tertiary-color);
}

.header {
    width: 1600px;
    height: 80px;
    background-color: var(--tertiary-color);
    margin-bottom: 100px;
}

.nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--primary-color)
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--secondary-color)
}

.active-page {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.hero-background {
    width: 1600px;
    height: 200px;
    background: var(--background-color-footer);
}

.hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--tertiary-color);
}

.button {
    color: var(--tertiary-color);
    background-color: var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87em;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.buttons-portfolio {
    background-color: var(--background-color-secondary);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62em;
    display: inline-flexbox;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.buttons-portfolio:hover,
.buttons-portfolio:focus {
    background-color: var(--accent-color);
    color: var(--tertiary-color);
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits {
    background-color: var(--background-color-primary);
    width: 1600px;
}

.benefits-h {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-p {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
}

.whatwedo-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16em;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team {
    width: 1600px;
    background-color: var(--background-color-secondary);
}

.our-team-card {
    background-color: var(--tertiary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
}

.our-team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19em;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-member-descr {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19em;
    text-align: center;
    letter-spacing: 0.03em;
}

footer {
    background-color: var(--background-color-footer);
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
}

.address {
    color: var(--tertiary-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
}

.footer-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.example-card {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;

    background: var(--tertiary-color);
    border: 1px solid #EEEEEE;
}

.example-card-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
}

.example-card-descr {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87em;
    letter-spacing: 0.03em;
}