:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --tertiary-color: #FFFFFF;
    --tertiary-color-alpha: #FFFFFF, 0.6;
    --background-color-primary: #E5E5E5;
    --background-color-secondary: #F5F4FA;
    --background-color-footer: #2F303A;
    --accent-color: #2196F3;
    --button-accent-color: #188CE8;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    --color-grey: #ECECEC;
}

body {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

a:hover,
a:focus {
    color: var(--accent-color);
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.logopart-black {
    font-family: Raleway;
    color: var(--primary-color);
}

.logopart-white {
    font-family: Raleway;
    color: var(--tertiary-color);
}

.header {
    background-color: var(--tertiary-color);
    margin-bottom: 10px;
}

.nav {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);


}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
}

.active-page {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.list {
    list-style: none;
    list-style-type: none;
}

.hero-background {
    background: var(--background-color-footer);
    height: 600px;
}

.hero {
    color: var(--tertiary-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 222px;
}

.hero-container {
    align-items: center;
    justify-content: center;
}

.button {
    color: var(--tertiary-color);
    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px var(--box-shadow-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.button:hover,
.button:focus {
    background-color: var(--button-accent-color);
}

.buttons-portfolio {
    background-color: var(--background-color-secondary);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.buttons-portfolio:hover,
.buttons-portfolio:focus {
    background-color: var(--accent-color);
    color: var(--tertiary-color);
    box-shadow: 0px 4px 4px var(--box-shadow-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-h {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-p {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
}

.whatwedo-h {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 50px;
}

.our-team {
    background-color: var(--background-color-secondary);
    padding-bottom: 50px;
}

.our-team-card {
    background-color: var(--tertiary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.our-team-member-descr {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

footer {
    background-color: var(--background-color-footer);
}

.address {
    color: var(--tertiary-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.example-card {
    background: var(--tertiary-color);
    border: 1px solid #EEEEEE;
}

.example-card-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.example-card-descr {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container-header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.container-header-nav {
    align-items: center;
    display: flex;
    padding-left: 150px;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 50px;
    width: 500px;
}

.container-header-contacts {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 500px;
    justify-content: flex-end;
    gap: 50px;
}

img {
    display: block;
}

.container-benefits {
    display: flex;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-top: 94px;
}

.container-whatwedo {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.container-our-team {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;
    margin-left: 40px;
}

.footer-info {
    padding-bottom: 60px;
}

.container-buttons {
    gap: 8px;
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.container-example-cards {
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}

.container-example-card-descr {
    padding-left: 24px;
}